*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: hsl(180, 60%, 85%);
  padding: 1rem;
}

.navbar__link {
  float: left;
  color: black;
  text-align: center;
  padding: 1.2rem;
  text-decoration: none;
  font-size: 1.8rem; 
  line-height: 2.5rem;
  border-radius: .4rem;
}

.navbar__link--active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .navbar__link {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

.main-section__intro {
  background-color: whitesmoke;
  color: black;
  padding: 2rem;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
}

.event-capture {
  background-color: rgb(247, 232, 232);
  color: black;
  padding: 2rem;
  text-align: left;
  height: 50rem;
 }

 .event-capture h2 {
  font-size: 1.5rem;
 }

 .main-section {
  max-width: 120rem;
  margin: 0 auto;
 }

.event-capture__container {
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 45rem;
 }

.event-capture__item {
  width: 30%;
  color: rgb(0, 0, 0);
  border-radius: .2rem;
  height: 35rem;
}

.event-capture__image {
  height: 100%;
  width: 100%;
  border-radius: .2rem;
  margin-bottom: .8rem;
}

.event-capture__title {
  font-size: 2rem;
}

.model-photography {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 232, 232);
  }

.model-photography__details {
  width: 50%;
  text-align: left;

}


.model-photography__image-container {
  width: 50%;
}

.model-photography__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
  
.city {
  background-color: rgb(233, 227, 226);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  margin: 2rem;
  padding: 2rem;
}

.model-photography {

}

.model-photography__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(247, 232, 232);
}
